body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Header_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:10px;
    top:10px;
    width:1100px;
    height:119px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:125px;
}

.u1 {
    position:absolute;
    left:2px;
    top:52px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:220px;
    top:41px;
    width:800px;
    height:55px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_container {
    position:absolute;
    left:40px;
    top:21px;
    width:131px;
    height:96px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:131px;
    height:96px;
}

.u4 {
    position:absolute;
    left:2px;
    top:40px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Navigation_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:10px;
    top:140px;
    width:170px;
    height:400px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:406px;
}

.u7 {
    position:absolute;
    left:2px;
    top:192px;
    width:166px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_mouseOver {
    background-image: url('../Navigation_files/HomeButton_u8_mouseOver.png');
}

.u8_normal {
    background-image: url('../Navigation_files/HomeButton_u8_normal.png');
}

.u8_container {
    position:absolute;
    left:30px;
    top:165px;
    width:130px;
    height:35px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:41px;
}

.u9 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_mouseOver {
    background-image: url('../Navigation_files/HomeButton_u8_mouseOver.png');
}

.u10_normal {
    background-image: url('../Navigation_files/HomeButton_u8_normal.png');
}

.u10_container {
    position:absolute;
    left:30px;
    top:225px;
    width:130px;
    height:35px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:41px;
}

.u11 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_mouseOver {
    background-image: url('../Navigation_files/HomeButton_u8_mouseOver.png');
}

.u12_normal {
    background-image: url('../Navigation_files/HomeButton_u8_normal.png');
}

.u12_container {
    position:absolute;
    left:30px;
    top:285px;
    width:130px;
    height:35px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:136px;
    height:41px;
}

.u13 {
    position:absolute;
    left:2px;
    top:10px;
    width:126px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:30px;
    top:505px;
    width:130px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:30px;
    top:482px;
    width:130px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Register_1_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:290px;
    top:140px;
    width:740px;
    height:58px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:746px;
    height:64px;
}

.u18 {
    position:absolute;
    left:2px;
    top:8px;
    width:736px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:610px;
    top:495px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:625px;
    top:239px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:625px;
    top:336px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:625px;
    top:382px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:625px;
    top:429px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:625px;
    top:286px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:515px;
    top:244px;
    width:111px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:515px;
    top:341px;
    width:111px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:515px;
    top:387px;
    width:111px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:515px;
    top:434px;
    width:111px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:515px;
    top:289px;
    width:111px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:866px;
    top:244px;
    width:201px;
    height:201px;
    overflow:hidden;
}

#pd2u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:201px;
    
}

.u31 {
    position:absolute;
    left:31px;
    top:84px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:201px;
    
}

.u32 {
    position:absolute;
    left:28px;
    top:65px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:201px;
    
}

.u33 {
    position:absolute;
    left:9px;
    top:60px;
    width:184px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u34 {
    position:absolute;
    left:720px;
    top:488px;
    width:190px;
    height:41px;
    overflow:hidden;
}

#pd0u34 {
    position:absolute;
    left:0px;
    top:0px;
    width:190px;
    height:41px;
    
}

.u35 {
    position:absolute;
    left:18px;
    top:7px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

