body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Use_Cases_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:90px;
    top:299px;
    width:67px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Use_Cases_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:304px;
    top:168px;
    width:136px;
    height:60px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:66px;
}

.u3 {
    position:absolute;
    left:2px;
    top:22px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Use_Cases_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:304px;
    top:580px;
    width:136px;
    height:60px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:66px;
}

.u5 {
    position:absolute;
    left:2px;
    top:22px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Use_Cases_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:304px;
    top:299px;
    width:136px;
    height:60px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:66px;
}

.u7 {
    position:absolute;
    left:2px;
    top:22px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Use_Cases_files/u2_normal.png');
}

.u8_container {
    position:absolute;
    left:304px;
    top:365px;
    width:136px;
    height:60px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:66px;
}

.u9 {
    position:absolute;
    left:2px;
    top:15px;
    width:132px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Use_Cases_files/u2_normal.png');
}

.u10_container {
    position:absolute;
    left:304px;
    top:233px;
    width:136px;
    height:60px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:66px;
}

.u11 {
    position:absolute;
    left:2px;
    top:22px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Use_Cases_files/u2_normal.png');
}

.u12_container {
    position:absolute;
    left:304px;
    top:496px;
    width:136px;
    height:60px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:66px;
}

.u13 {
    position:absolute;
    left:2px;
    top:22px;
    width:132px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Use_Cases_files/u2_normal.png');
}

.u14_container {
    position:absolute;
    left:304px;
    top:431px;
    width:136px;
    height:60px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:66px;
}

.u15 {
    position:absolute;
    left:2px;
    top:15px;
    width:132px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16c0 {
    background-image: url('../Use_Cases_files/u16c0.png');
}

.u16c0 {
    position:absolute;
    left:114px;
    top:56px;
    width:20px;
    height:247px;
}

.u16c1 {
    background-image: url('../Use_Cases_files/u16c1.png');
}

.u16c1 {
    position:absolute;
    left:114px;
    top:56px;
    width:194px;
    height:20px;
}

.u17 {
    position:absolute;
    left:-50px;
    top:-214px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18c0 {
    background-image: url('../Use_Cases_files/u18c0.png');
}

.u18c0 {
    position:absolute;
    left:114px;
    top:122px;
    width:20px;
    height:181px;
}

.u18c1 {
    background-image: url('../Use_Cases_files/u18c1.png');
}

.u18c1 {
    position:absolute;
    left:114px;
    top:122px;
    width:194px;
    height:20px;
}

.u19 {
    position:absolute;
    left:-44px;
    top:-175px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20c0 {
    background-image: url('../Use_Cases_files/u20c0.png');
}

.u20c0 {
    position:absolute;
    left:153px;
    top:329px;
    width:24px;
    height:20px;
}

.u20c1 {
    background-image: url('../Use_Cases_files/u20c1.png');
}

.u20c1 {
    position:absolute;
    left:157px;
    top:188px;
    width:20px;
    height:161px;
}

.u20c2 {
    background-image: url('../Use_Cases_files/u20c2.png');
}

.u20c2 {
    position:absolute;
    left:157px;
    top:188px;
    width:151px;
    height:20px;
}

.u21 {
    position:absolute;
    left:-40px;
    top:-142px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22c0 {
    background-image: url('../Use_Cases_files/u22c0.png');
}

.u22c0 {
    position:absolute;
    left:153px;
    top:329px;
    width:24px;
    height:20px;
}

.u22c1 {
    background-image: url('../Use_Cases_files/u22c1.png');
}

.u22c1 {
    position:absolute;
    left:157px;
    top:253px;
    width:20px;
    height:96px;
}

.u22c2 {
    background-image: url('../Use_Cases_files/u22c2.png');
}

.u22c2 {
    position:absolute;
    left:157px;
    top:253px;
    width:151px;
    height:20px;
}

.u23 {
    position:absolute;
    left:-14px;
    top:-84px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24c0 {
    background-image: url('../Use_Cases_files/u24c0.png');
}

.u24c0 {
    position:absolute;
    left:153px;
    top:329px;
    width:24px;
    height:20px;
}

.u24c1 {
    background-image: url('../Use_Cases_files/u24c1.png');
}

.u24c1 {
    position:absolute;
    left:157px;
    top:319px;
    width:20px;
    height:30px;
}

.u24c2 {
    background-image: url('../Use_Cases_files/u24c2.png');
}

.u24c2 {
    position:absolute;
    left:157px;
    top:319px;
    width:151px;
    height:20px;
}

.u25 {
    position:absolute;
    left:18px;
    top:-18px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26c0 {
    background-image: url('../Use_Cases_files/u26c0.png');
}

.u26c0 {
    position:absolute;
    left:153px;
    top:329px;
    width:23px;
    height:20px;
}

.u26c1 {
    background-image: url('../Use_Cases_files/u26c1.png');
}

.u26c1 {
    position:absolute;
    left:156px;
    top:329px;
    width:20px;
    height:76px;
}

.u26c2 {
    background-image: url('../Use_Cases_files/u26c2.png');
}

.u26c2 {
    position:absolute;
    left:156px;
    top:385px;
    width:152px;
    height:20px;
}

.u27 {
    position:absolute;
    left:-4px;
    top:48px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28c0 {
    background-image: url('../Use_Cases_files/u28c0.png');
}

.u28c0 {
    position:absolute;
    left:113px;
    top:375px;
    width:20px;
    height:96px;
}

.u28c1 {
    background-image: url('../Use_Cases_files/u28c1.png');
}

.u28c1 {
    position:absolute;
    left:113px;
    top:451px;
    width:195px;
    height:20px;
}

.u29 {
    position:absolute;
    left:0px;
    top:74px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30c0 {
    background-image: url('../Use_Cases_files/u30c0.png');
}

.u30c0 {
    position:absolute;
    left:114px;
    top:375px;
    width:20px;
    height:161px;
}

.u30c1 {
    background-image: url('../Use_Cases_files/u30c1.png');
}

.u30c1 {
    position:absolute;
    left:114px;
    top:516px;
    width:194px;
    height:20px;
}

.u31 {
    position:absolute;
    left:-34px;
    top:139px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32c0 {
    background-image: url('../Use_Cases_files/u32c0.png');
}

.u32c0 {
    position:absolute;
    left:114px;
    top:375px;
    width:20px;
    height:205px;
}

.u32c1 {
    background-image: url('../Use_Cases_files/u32c1.png');
}

.u32c1 {
    position:absolute;
    left:114px;
    top:560px;
    width:268px;
    height:20px;
}

.u32c2 {
    background-image: url('../Use_Cases_files/u32c2.png');
}

.u32c2 {
    position:absolute;
    left:362px;
    top:560px;
    width:20px;
    height:24px;
}

.u33 {
    position:absolute;
    left:-16px;
    top:183px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Use_Cases_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:303px;
    top:36px;
    width:140px;
    height:60px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:66px;
}

.u35 {
    position:absolute;
    left:2px;
    top:22px;
    width:136px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Use_Cases_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:304px;
    top:102px;
    width:137px;
    height:60px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:143px;
    height:66px;
}

.u37 {
    position:absolute;
    left:2px;
    top:22px;
    width:133px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

